docker {
  enabled = true
}
profiles {
  standard {
    process.executor = 'local'
  }

  docker {
    process.container = 'ubuntu:latest'
    process.executor = 'local'
    docker.enabled = true
  }
}

params {
  chr        = 22
  pop        = 'EUR'
  n_samples  = 500
  h2         = 0.5
  n_causal   = 50
  seed       = 142

  // Directory locations
  outdir     = "${projectDir}/results"
  runname = "run_${new Date().format("yyyyMMdd_HHmm")}"   // auto-run-name
    
// QC thresholds
  maf            = 0.01
  hwe            = 1e-6
  geno           = 0.02
  mind           = 0.05
  het_sd         = 3
  diff_missing   = true
  diffmiss_p     = 1e-5

  // PCA
  ld_kb          = 200
  ld_step        = 50
  ld_r2          = 0.1
  n_pcs          = 20

  //GWAS
  covar_names       = 'SEX,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10'
  trait_type        = 'quantitative'               // 'binary' or 'quantitative'
  p_gws             = 5e-8

  //CLUMPING
  clump_kb          = 250
  clump_r2          = 0.1
  clump_p1          = 5e-8
  pad_kb            = 50   // add ±50 kb around min/max of each clump (set 0 to disable)


  //PRUNING
  min_maf   = 0.01          // or what you prefer
  indep_kb  = 50            // window size (kb)
  indep_step= 5             // step (variants)
  indep_r2  = 0.98          // pruning threshold (tighten to 0.95 if LD is nasty)

  // Tools
  python_container = 'python:3.11-slim-bullseye'
}


process {
  executor = 'local'

  withLabel: python311 {
    container = "python:3.11"
  }

  withLabel: bookworm {
    container = 'debian:bookworm-slim'
    containerOptions = '-u 0:0'
  }

  withLabel: bcftools {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }

  withLabel: plink {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }
  
  withLabel: gcta {
    container = 'quay.io/biocontainers/gcta:1.94.1--h9ee0642_0'
    containerOptions = '--platform=linux/amd64'
    cpus = 2
    memory = '4 GB'
    
  }

  withLabel: htslib {
    container = 'quay.io/biocontainers/htslib:1.19--h81da01d_0'
    containerOptions = '--platform=linux/amd64'
  }

  withLabel: susie {
    container = 'susier:latest'
    containerOptions = '--platform=linux/amd64'
  }
  
}

