docker {
  enabled = true
}
profiles {
  standard {
    process.executor = 'local'
  }

  docker {
    process.container = 'ubuntu:latest'
    process.executor = 'local'
    docker.enabled = true
  }
}

process {
  executor = 'local'
  
  withName: FETCH_1KG {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: MAKE_SAMPLE_LIST {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: SUBSET_VCF {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: PLINKIFY {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }
  withName: GCTA_SIM {
    container = 'quay.io/biocontainers/gcta:1.94.1--h9ee0642_0'
    containerOptions = '--platform=linux/amd64'
  }
}

process {
  withName: FETCH_1KG      { cpus = 1; memory = '1 GB' }
  withName: MAKE_SAMPLE_LIST { cpus = 1; memory = '512 MB' }
  withName: SUBSET_VCF     { cpus = 2; memory = '4 GB' }
  withName: PLINKIFY       { cpus = 2; memory = '4 GB' }
  withName: GCTA_SIM {
    container = 'quay.io/biocontainers/gcta:1.94.1--h9ee0642_0'
    containerOptions = '--platform linux/amd64'
    cpus = 2
    memory = '4 GB'
  }
}
