docker {
  enabled = true
}
profiles {
  standard {
    process.executor = 'local'
  }

  docker {
    process.container = 'ubuntu:latest'
    process.executor = 'local'
    docker.enabled = true
  }
}

params {
// QC thresholds
  maf            = 0.01
  hwe            = 1e-6
  geno           = 0.02
  mind           = 0.05
  het_sd         = 3
  diff_missing   = true
  diffmiss_p     = 1e-5

  // PCA
  ld_kb          = 200
  ld_step        = 50
  ld_r2          = 0.1
  n_pcs          = 20

  //GWAS
  covar_names       = 'SEX,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10'
  trait_type        = 'quantitative'               // 'binary' or 'quantitative'

  // Tools
  plink_container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
  python_container = 'python:3.11-slim-bullseye'
}


process {
  executor = 'local'
  
  withName: FETCH_1KG {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: MAKE_SAMPLE_LIST {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: SUBSET_VCF {
    container = 'staphb/bcftools:1.18'
    containerOptions = '--platform=linux/amd64'
  }
  withName: PLINKIFY {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }
  withName: GCTA_SIM {
    container = 'quay.io/biocontainers/gcta:1.94.1--h9ee0642_0'
    containerOptions = '--platform=linux/amd64'
  }
  withName: QC_PLINK {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }

  withName: GWAS_PLINK {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }

  withName: QC_HETDIF_FILT {
    container = 'quay.io/biocontainers/plink:1.90b6.21--hec16e2b_2'
    containerOptions = '--platform=linux/amd64'
  }
}

process {
  withName: FETCH_1KG      { cpus = 1; memory = '1 GB' }
  withName: MAKE_SAMPLE_LIST { cpus = 1; memory = '512 MB' }
  withName: SUBSET_VCF     { cpus = 2; memory = '4 GB' }
  withName: PLINKIFY       { cpus = 2; memory = '4 GB' }
  withName: GCTA_SIM {
    container = 'quay.io/biocontainers/gcta:1.94.1--h9ee0642_0'
    containerOptions = '--platform linux/amd64'
    cpus = 2
    memory = '4 GB'
  }
}
